Repository voxpupuli/puppet-augeasproviders_puppet, pull requests merged in 2024-04, with the labels that each got.

#10 migrate dependency to voxpupuli; puppet/augeasproviders_core: allow 4.x
  metadata.json
Labels: enhancement

#11 puppet/augeasproviders_core: Allow 4.x
  metadata.json
Labels: enhancement

#12 Update Badges and README
  README.md
Labels: docs

#14 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#15 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#16 modulesync 7.5.0
  .msync.yml
Labels: modulesync
